.header-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding: 21px 20px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    background: linear-gradient(to right, #0C4E89, #031934);
    grid-column: 1 / span 3;

    main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: 2 / span 1;
    }
    color: whitesmoke;

    div {
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav {
        display: flex;
        gap: 8px;

        @include for-narrow-layout {
            gap: 15px;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .active {
        font-weight: bold;
        color: yellow;
    }
}