.transfer-section {
    background-color: #6d8ceb;
    padding: 25px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: bold;

    @include for-narrow-layout {
        width: fit-content;
    }

    form {
        display: flex;
        gap: 7px;

        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid darkgray;
            font-size: 1rem;
            color: #2c3e50;
            text-align: center;
        }

        button {
            background-color: whitesmoke;
            color: #2c3e50;
        }
    }
}